* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  background-color: #071624;
  padding: 10px;
  height: 100vh;
}

.root {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  /* border-radius: 10% 7% 44% 5% / 2% 25% 11% 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #feffee;
  /* background-image: url(./img/fondo.png); */

}
